.settings-row {
    width: 53vmin;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.settings-row .bi {
    font-size: 1.8rem;
    color: var(--subtext-0);
}

.pairs-counter p {
    font-size: 1rem;
}

.clock {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    transform: translateX(-2rem);
}

.volume-settings:hover {
    cursor: pointer;
}

.cards-board {
    display: grid;
    gap: 1rem;
}

.card-row {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.card {
    width: 6rem;
    height: 8rem;
    background-color: var(--mantle);;
    border: 1px solid #fff;
}

.card:hover {
    cursor: pointer;
    border: 1px solid var(--lavender);
}

.card span {
    font-size: 4rem;
    visibility: hidden;
}

.card-flip {
    animation: flipping 0.5s 1;
}

.best-time-container {
    width: 52vmin;
    display: flex;
    justify-content: flex-end;
    gap: 0.2rem;

    /* border: 1px solid #fff; */
}

@keyframes flipping {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
}

dialog:open {
    width: 40%;
    height: 30%;
    border-radius: 15px;
    top: 30%;
    left: 30%;
    background-color: var(--surface-0);
    border-style: none;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

dialog::backdrop {
    background-color: #fff5;
    backdrop-filter: blur(4px);
}

.btn {
    padding: 0.5rem;
    color: var(--mantle);
    background-color: var(--lavender);
    border-style: none;
    border-radius: 5px;
}

.btn:hover {
    cursor: pointer;
}

.btn.btn-close:hover {
    background-color: var(--red);
}

.btn.btn-play-again:hover {
    background-color: var(--green);
}

.btn-close {
    width: 2rem;
    height: 2rem;
    margin: 0.3rem;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 200px;
}

.announce-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
}