@import "main.css";

.main-container {
    position: relative;
}

.settings-row {
    width: 55vmin;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.settings-row .bi {
    font-size: 1.8rem;
    color: var(--subtext-0);
}

.player-settings {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player-settings p {
    font-size: 0.9rem;
}

.player-settings:hover {
    cursor: pointer;
}

.volume-settings:hover {
    cursor: pointer;
}

.game-board {
    height: 60vmin;
    width: 60vmin;
    display: grid;
    grid-row: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.box {
    height: 20vmin;
    width: 20vmin;
    border-style: none;
    border-right: 0.5rem solid var(--lavender);
    border-bottom: 0.5rem solid var(--lavender);
    font-size: 8vmin;
    color: var(--text);
    background-color: var(--base);
}

.box:nth-child(3n) {
    border-right: none;
}

.box:nth-child(6) ~ .box {
    border-bottom: none;
}

.box:hover {
    background-color: var(--surface-2);
}

.results-board {
    width: 55vmin;
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    /* border: 1px solid #fff; */
}

.score-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

#announce-winner {
    color: var(--white);
}

.announce-card {
    width: 40%;
    height: 30%;
    opacity: 0;
    position: absolute;
    border-radius: 5px;
    top: 30%;
    left: 30%;
    transition: all 0.3s ease-in-out;
    z-index: -1;
    background-color: var(--surface-0);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.announce-card.show {
    opacity: 1;
    z-index: 999;
}

.btn {
    padding: 0.5rem;
    color: var(--mantle);
    background-color: var(--lavender);
    border-style: none;
    border-radius: 5px;
}

.btn:hover {
    cursor: pointer;
}

.btn.btn-close:hover {
    background-color: var(--red);
}

.btn.btn-play-again:hover {
    background-color: var(--green);
}

.btn-close {
    margin: 0.3rem;
    position: absolute;
    top: 0;
    right: 0;
}

.announce-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
}
