@import "main.css";

.wordle-board {
    display: grid;
    gap: 1rem;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.box {
    width: 4rem;
    height: 4rem;
    border-style: none;
    border-radius: 10px;
    text-align: center;
    font-size: 25px;
    background-color: var(--white);
    color: var(--mantle);

    display: flex;
    justify-content: center;
    align-items: center;
}

#announce-result {
    color: var(--white);
}

.keyboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    /* border: 1px solid white; */
}

.keyboard-row {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

button {
    width: 2rem;
    height: 2rem;
    /* padding: 1rem; */
    border-radius: 5px;
    border-style: none;
    background-color: var(--overlay-0);
    color: var(--white);
    text-align: center;
}

button:hover {
    cursor: pointer;
    background-color: var(--overlay-2);
}

.enter-btn {
    width: 2.5rem;
}