@import "main.css";

.settings-row {
    width: 24rem;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.settings-row .bi {
    font-size: 1.8rem;
    color: var(--subtext-0);
}

.wordle-board {
    display: grid;
    gap: 1rem;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.box {
    width: 4rem;
    height: 4rem;
    border-style: none;
    border-radius: 10px;
    text-align: center;
    font-size: 25px;
    background-color: var(--white);
    color: var(--mantle);

    display: flex;
    justify-content: center;
    align-items: center;
}

#announce-result {
    color: var(--white);
}

.keyboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    /* border: 1px solid white; */
}

.keyboard-row {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.btn {
    width: 2rem;
    height: 2rem;
    padding: 1rem;
    border-radius: 5px;
    background-color: var(--overlay-0);
    color: var(--white);

    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:hover {
    cursor: pointer;
    background-color: var(--overlay-2);
}

.delete-btn {
    padding: 0 1.5rem;
}

.enter-btn {
    padding: 0 1.8rem;
}

/*Dialog*/
dialog:open {
    width: 40%;
    height: 30%;
    border-radius: 15px;
    top: 30%;
    left: 30%;
    background-color: var(--surface-0);
    border-style: none;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

dialog::backdrop {
    background-color: #fff5;
    backdrop-filter: blur(4px);
}

.abtn {
    padding: 0.5rem;
    color: var(--mantle);
    background-color: var(--lavender);
    border-style: none;
    border-radius: 5px;
}

.abtn:hover {
    cursor: pointer;
}

.abtn.btn-close:hover {
    background-color: var(--red);
}

.abtn.btn-play-again:hover {
    background-color: var(--green);
}

.btn-close {
    width: 2rem;
    height: 2rem;
    margin: 0.3rem;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 200px;
}

.announce-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
}